In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# data paths
small_path = '/scratch/work/courses/DSGA1004-2021/movielens/ml-latest-small'
full_path = '/scratch/work/courses/DSGA1004-2021/movielens/ml-latest'

small:
- links.csv (movieId,imdbId,tmdbId)
- movies.csv (movieId,title,genres)
- ratings.csv (userId,movieId,rating,timestamp)
- tags.csv (userId,movieId,tag,timestamp)


full:
- links.csv
- movies.csv
- ratings.csv
- tags.csv
- genome-scores.csv
- genome-tags.csv

## ml-latest-small

In [6]:
# import ratings from small dataset
ratings_small = pd.read_csv(small_path + '/ratings.csv')
print(ratings_small.shape)
ratings_small.head()

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
# stratify split
train_small, test_val_small = train_test_split(ratings_small, stratify=ratings_small['userId'], test_size=0.2)

In [13]:
train_small.head

<bound method NDFrame.head of         userId  movieId  rating   timestamp
46645      306    53322     3.0  1518380996
46116      305     2918     5.0  1524487985
71484      460     8368     4.5  1359178182
20142      132     4874     4.5  1174935021
77170      482     4389     4.0  1105396950
...        ...      ...     ...         ...
57476      380     5991     4.0  1493420515
24685      171      858     5.0   866904261
13012       83     4022     3.0  1333843409
43736      292     5480     3.0  1046391204
100089     610    27032     4.0  1479542348

[80668 rows x 4 columns]>

In [14]:
test_val_small.head

<bound method NDFrame.head of        userId  movieId  rating   timestamp
27905     190     6936     3.5  1504310447
6704       45     2504     4.0   951170710
66589     428     4850     3.5  1111488731
93791     599     4027     3.5  1498501454
57255     380     2991     4.0  1494804280
...       ...      ...     ...         ...
21346     140     2947     4.0  1021898943
53253     352     2231     4.0  1493673833
1218       10    81784     2.5  1455357716
36433     249      858     4.5  1346757706
65290     418   116797     4.5  1461865711

[20168 rows x 4 columns]>

In [23]:
# Check that stratification worked
print('Number of unique users in original dataset:', ratings_small['userId'].nunique())
print('Number of unique users in train dataset:', train_small['userId'].nunique())
print('Number of unique users in test/val dataset:', test_val_small['userId'].nunique())

Number of unique users in original dataset: 610
Number of unique users in train dataset: 610
Number of unique users in test/val dataset: 610

In [ ]:
# Next: split train_val into train and validation sets

## ml-latest

In [24]:
# repeat for full dataset
# Note: selected users have at least 1 movie (need to put these into training set before splitting the rest?)

# import ratings from full dataset
ratings_full = pd.read_csv(full_path + '/ratings.csv')
print(ratings_full.shape)
ratings_full.head()

(27753444, 4)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264